---
import Layout from '../layouts/Layout.astro';
import AddItemForm from '../components/AddItemForm';
---

<Layout title="Add Item">
  <div class="max-w-2xl mx-auto">
    <h1 class="text-2xl font-bold mb-6">Add New Item</h1>
    <AddItemForm client:load />
  </div>
</Layout>
